/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

Year*/Input/

build/
bin/
.cache/

Year2025/subprojects/*

# But keep the .wrap files
!Year2025/subprojects/*.wrap
